* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    font-family: Rationale, sans-serif;
    background-color: #FFF5CB;
    padding: 20px;
}

/* Navigation Bar Container */
.navbar {
    background-color: #FF1D70;
    padding: 15px 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
    border-radius: 20px;
}


}

/* Navigation Menu List */
.navbar ul {
    list-style-type: none;
    display: flex;
    gap: 70px;
}

.navbar li {
    display: inline;
}


.navbar a {
    color: 0B2374;
    text-decoration: none;
    font-size: 18px;
    transition: all 0.3s ease;
}

/* Hover Effect for Navigation Links */
.navbar a:hover {
    color: #9AE6FF;
}


.content {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
    padding-bottom: 60px;
    flex-wrap: wrap;
}

/* Image Box Styling */
.image-box img {
    width: 390px;
    height: 390px;
    border-radius: 0px;
    object-fit: cover;
}

/* Text Module Styling */
.text-module {
    max-width: 400px;
    text-align: left;
}

.text-module h2 {
    font-size: 28px;
    margin-bottom: 15px;
    color: #333;
}

.text-module p {
    font-size: 16px;
    line-height: 1.6;
    color: #666;
}


.about {
max-width: 400px;
    text-align: left;


}

.explanation {
max width: 400px;
text-align: center;


}

.why {
 max-width: 400px;
 text-align: left;

}


.why-indeed {
 
 text-align: center;


}

.image-box-1 img {
    width: 600px;
    height: 400px;
    border-radius: 20px;
    object-fit: cover;
}

.image-box-2 img {
    width: 600px;
    height: 400px;
    border-radius: 20px;
    object-fit: cover;

}


.image-box-base img {
    width: 600px;
    height: 600px;
    border-radius: 20px;
    object-fit: cover;

}