/* Basic Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    font-family: roboto, sans-serif;
    background-color: #FFDEF0;
    padding: 20px;
}

.portfolio-links img {
    width: 300px;
    height: 300px;
    border-radius: 0px;
    object-fit: cover;
    padding: 10px;
}



 
.text-module {
    max-width: 600px;
    text-align: left;
    padding: 30px;
    color:#F43E84;

}

.text-module h1 {
   
    margin-bottom: 11px;
    color: #F43E84;
}

.text-module h4 {
   
    
    color: #F43E84;
}


.hover11 figure img {
    opacity: 1;
    -webkit-transition: .2s ease-in-out;
    transition: .2s ease-in-out;
   
}

.hover11 figure:hover img {
    opacity: .5;

}



